* {
    margin: 0;
}

.navlist a {
    font-size: 20px;
    text-decoration: none;
}

header {
    color: whitesmoke;
    background-color: tomato;
}

header h1 {
    font-size: 40px;
}
ul {
    margin:auto;
}
li {
    color: whitesmoke;
    padding: 20px;
    display: inline-block;
    list-style: none;
}

@media (max-width: 900px) {
    li {
        text-align: center;
        display: block;
        margin: auto;
    }
}

li:hover {
    color: whitesmoke;
    background-color: rgb(185, 59, 59);


}

a:visited {
    color: inherit;
}


h1, h2, h3 {
    text-align: center;
}

h1, h2, h3 {
    text-align: center;
}

header h1 {
  text-align: center;
  font-size: 40px;
}

.about,
.contact {
  margin: 40px 150px;
  text-align: justify;
}

h1,
h2 {
  text-align: center;
  font-size: 30px;
}

footer {
  width: 100%;
  height: 20%;
  background-color: black;
}
